In [4]:
result= []
grade = []
for i in range(int(input())):
    name = input()
    mark = float(input())
    result.append([name,mark])
    grade.append(mark)
grade = sorted(set(grade))
second_lowest = grade[1]
name=[]
for i in result:
    if second_lowest==i[1]:
        name.append(i[0])
name.sort()
for nm in name:
    print(nm)

2
sadf
12
fsda12
45
fsda12

In [5]:
if __name__ == '__main__':
    n = int(input())
    student_marks = {}
    for _ in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores
    query_name = input()

3
sdf
23
asd
12